.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: block;
}

html,
body {
  height: 100%;
}

html body {
  background: none;
}

.popup-forms-dialog-wrapper {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  opacity: 0 !important;
}

.popup-forms-dialog-wrapper.visible {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1);
  opacity: 1 !important;
}

.ui-dialog.popup_forms-dialog {
  width: auto !important;
}

.popup-forms-container {
  height: auto !important;
}
