.popup-forms-iframe {
  border: none;
  left: 0px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 10;
}

/**
 * Markup free clearing
 * Details: http://www.positioniseverything.net/easyclearing.html
 */
.clear-block:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clear-block {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clear-block {
  height: 1%;
}
.clear-block {
  display: block;
}
